<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
</head>
<body>
<div id="app">
	<div class="header">
		<span>删除用户信息</span>
	</div>
	<div class="content">
		<table>
			<tr>
				<td class="text-right">电话号码</td><td class="content_right"><input id="phone" class="input inline-input" placeholder="请输入电话号码"> <span id="find" class="btn btn-info">立即查找</span></td>
			</tr>
		</table>
	</div>


	<div class="header">
		<span>查找信息如下</span>
	</div>
	<div class="content">
		<table>
			<tr>
				<td class="text-right">用户名</td>
				<td class="content_right"><input class="input" placeholder="请输入姓名"></td>
			</tr>
			<tr>
				<td class="text-right">手机号</td>
				<td class="content_right"><input class="input" placeholder="请输入手机号"></td>
			</tr>
			<tr>
				<td class="text-right">身份证号码</td>
				<td class="content_right"><input class="input" placeholder="请输入身份证"></td>
			</tr>
			<tr>
				<td class="text-right">密码</td>
				<td class="content_right"><input class="input" placeholder="请输入密码"></td>
			</tr>
			<tr>
				<td></td><td class="content_right"><span class="btn btn-info" id="delete">立即删除</span> </td>
			</tr>
		</table>
	</div>
</div>
</body>
<script src="/qrcode/jquery2.1.4.js"></script>
<script src="/layer/layer.js"></script>
<script>
	$(".header:eq(1),.content:eq(1)").hide();
	let userId = null;
	$(function(){
		$("#find").click(function(){
			let windowId = layer.load();
			let phone = $("#phone").val();
			$.getJSON("/users/find.do",{phone:phone},function(data){
				layer.close(windowId);
				layer.msg(data.result);
				if(data.status == 0){
					$(".header:eq(1),.content:eq(1)").fadeIn(1000);
					userId = data.data.id;
					$("input:eq(1)").val(data.data.name);
					$("input:eq(2)").val(data.data.phone);
					$("input:eq(3)").val(data.data.idCard);
					$("input:eq(4)").val(data.data.password);
					$("input:eq(1),input:eq(2),input:eq(3),input:eq(4)").prop("disabled",true)
				}
			})
		});

		$("#delete").click(function(){
			var windowId = layer.load();
			$.getJSON("/users/delete.do",{id:userId},function(data){
				layer.close(windowId);
				layer.msg(data.result);
				if(data.status == 0){
					$(".header:eq(1),.content:eq(1)").hide();
				}
			});
		});
	});

</script>
</html>
